@import "tailwindcss";

@theme {
  --color-brand-50: #fff7ed;
  --color-brand-100: #ffedd5;
  --color-brand-400: #ff9f43;
  --color-brand-500: #ff8a3d;
  --color-brand-600: #f6701a;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f4f4f5;
  -webkit-tap-highlight-color: transparent;
}

/* 판매글 이미지 슬라이더 스크롤바 숨김 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
